h1{
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color:white;
}
h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
    color:white;
}

p {
    color: white;
}
html {
    background-color: black;
}
table {
    color:white
}
.image {
    float: right;
    margin-left: 20px;
    width: 200px;
    height: 400px;
}
ul {
    color: white;
}
.div1 {
    margin-left: 25%;
    margin-right: 40%;
}
.div2 {
    margin-left: 25%;
    margin-right: 40%;
}
a:link {
    color: aqua;
}
a:visited {
    color: orange;
}
a:hover {
    color: green;
}